@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'slider';
@import 'socials';


* {
  box-sizing: border-box;
}

a, button {
  transition: all .3s ease-in-out;
}

html {
  font-size: 10px;
}

body {
  font: 500 1.4rem/1.7 $text-ff;
  color: $text-color;
}

.container {
  max-width: 1140px;
  padding: 15px;
  margin: 0 auto;
}

.section {
  padding: 100px 0;
  &__head {
    text-align: center;
    text-transform: uppercase;
  }
  &__suptitle {
    color: $secondary-color;
    font-size: 1.8rem;
  }
  &__title {
    color: $primary-color;
    font-family: $title-ff;
    font-size: 6rem;
    margin: 0 0 30px 0;
    line-height: 1.2;
  }
  &__icon {
    position: relative;
    & svg {
      fill: $primary-color;
    }
    &::before,
    &::after {
      content: '';
      max-width: 18%;
      width: 210px;
      border-top: $border;
      display: block;
      position: absolute;
      top: calc(50% - #{$border-width} / 2);
    }
    &::before {
      right: calc(50% + 24px);
    }
    &::after {
      left: calc(50% + 24px);
    }
  }
}

.profile {
  display: flex;
  &__part {
    width: 50%;
    padding: 85px;   
    text-align: center; 
    & + & {
      border-left: $border;
    }
  }
  &__imgwrap {
    border: $border;
    font-size: 0;
    padding: 15px;
    position: relative;
    z-index: 2;
    &:before,
    &:after {
      content: '';
      display: block;
      width: calc(100% + #{$border-width} * 4);
      height: 60%;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &::after {
      width: 60%;
      height: calc(100% + #{$border-width} * 4);
    }
  }
  &__img {
    width: 100%;
    border: $border;
    position: relative;
    z-index: 1;
  }
  &__name {
    font: 900 3.6rem/1.2 $title-ff;
    color: $secondary-color;
    margin: 0;
    &:after {
      content: '';
      width: 100px;
      border-top: $border;
      display: block;
      margin: 25px auto;
    }
  }
  &__position {
    font-size: 2.4rem;
    color: $secondary-color;
  }
  &__text {
    margin-bottom: 23px;
  }
  &__line {
    max-width: 15%;
    background-color: $primary-color;
    height: 5px;
    position: relative;
    margin: 0 auto;
    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      max-width: 3%;
      top: 0;
      bottom: 0;
      background-color: #fff;
    }
    &::before {
      left: 20%;
    }
    &::after {
      right: 20%;
    }
  }
  &__linkwrap {
    margin-top: 25px;
  }
  &__link {
    text-decoration: none;
    color: $secondary-color;
    border: $border;
    padding: 3px 10px;
    font: 900 1.4rem/1.7 $btn-ff;
    text-transform: uppercase;
    @include hover {
      color: #fff;
      background-color: $primary-color;
    }
  }
}